.dialogs {
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-size: 20px;
}

.dialogs_item {
    padding: 15px;
}

.active {
    color: red;
}

.dialog {
    text-decoration: none;
}


.messages {
    padding: 15px;
}